﻿@using Mylumineyes.Web.Models
@model List<UserDataVM>

<style>
    .col-sm-12 {
        overflow-x: auto;
    }

    .eye-photo {
        max-width: 200px;
        max-height: 150px;
    }
</style>
<table id="tblBillsHistory" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive" cellspacing="0">
    <thead>
        <tr>
            <th colspan="2">Images</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Obeservations</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a title="Download" href="@Url.Action("Download","Dashboard",new {docId=item.Id,col="File1"})" download><p><img class="eye-photo" src="@item.File1" /></p></a>
                    </td>
                    <td>
                        <a title="Download" href="@Url.Action("Download","Dashboard",new {docId=item.Id,col="File2"})" download><p><img class="eye-photo" src="@item.File2" /></p></a>
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNo</td>

                    <td>@item.Obeservations</td>
                    <td>@String.Format("{0: dd MMM yyyy}", item.CreatedDate)</td>
                    <td>
                        <a href="javascript:void(0)" title="Delete" class="btn btn-sm btn-danger" onclick="return DeleteRequest('@item.Id');">
                            <i class="fa fa-close"></i>
                        </a>
                        @*<a target="_blank" href="@Url.Action("GenerateInvoice", "ManageBills", new { @area = "SuperAdmin", param1 = item.Id, param2= item.ResidentId })" title="Generate Invoice" class="btn btn-sm btn-primary">
                                Download Invoice
                            </a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
