﻿@using Mylumineyes.Areas.SuperAdmin.Models;
@model ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}
<section class="content-header row">
    <div class="col-md-4">
        <h3>
            Change Password
        </h3>
    </div>
    <div class="col-md-8">
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
    </div>
</section>
<section class="content">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body wizard-content">
            <div class="steps clearfix">
                @*@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", @area = "", role = "form" }))
                    {*@
                <form id="ChangePasswordAdmin" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <hr />
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    <div class="row">
                        <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        <div class="col-md-3"></div>
                        </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })

                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 pul">
                            <div class="form-group pull-right">

                                @*<input type="submit" value="Change password" class="btn btn-primary m-t-15 " />*@
                                <button type="submit" class="btn btn-primary">Change password</button>

                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>



            <div></div>
        </div>
        <!-- /.box-body -->
    </div>

</section>

@section scriptRequired{
    <script src="~/Areas/SuperAdmin/Content/js/jquery-1.10.2.min.js"></script>
  <script src="~/Areas/SuperAdmin/Content/js/jquery.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery-ui.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/popper.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/bootstrap.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/raphael.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.sparkline.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/fastclick.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/template.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/dataTables.bootstrap.min.js"></script>

}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("submit", "form#ChangePasswordAdmin", function () {

                if ($("form#ChangePasswordAdmin").valid()) {
                    swal({
                        title: "...Wait",
                        text: "Please wait your request is processing...",
                        showConfirmButton: false,
                    });
                    var formdata = new FormData(this);

                    $.ajax({
                        chache: false,
                        async: false,
                        type: "POST",
                        url: "@Url.Action("ChangePassword", "Dashboard", new {@area="" })",
                        processData: false,
                        contentType: false,
                        data: formdata,
                        success: function (data) {
                            if (data.Success == true) {
                                ResetData();
                                swal("Update Successful", data.Message, "success");

                                //$("#CMSPageData").hide();
                            }
                            else {
                                ResetData();
                                swal("Unsuccessful", data.Message, "error");
                            }
                        }
                    });
                }
                return false;
            });

            function ResetData() {
                $("#OldPassword").val('');
                $("#NewPassword").val('');
                $("#ConfirmPassword").val('');
            }

        });

    </script>

}







