﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<section class="content-header row">
    <div class="col-md-4">
        <h3>
            Dashboard - Request List
        </h3>
    </div>
    <div class="col-md-8">
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="@Url.Action("DashBoard","DashBoard",new {@area="SuperAdmin" })"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            
        </ol>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">                       
                        <div class="col-3">
                            <div class="form-group">
                                <input type="date" id="dtFrom" name="dtTo" class="form-control datepicker" placeholder="Date From" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="date" id="dtTo" name="dtTo" class="form-control datepicker" placeholder="Date To" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="box-body" id="divData">
                    @{Html.RenderAction("SearchRequests", "Dashboard", new { @area = "SuperAdmin" });}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@section scriptRequired{
    <script src="~/Areas/SuperAdmin/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery-ui.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/popper.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/bootstrap.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/raphael.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/morris.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/chart.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.sparkline.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/fastclick.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/template.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/SuperAdmin/Content/js/dataTables.bootstrap.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setActiveClass("fa-dashboard");
            loadDataTable();
            $(document).on("click", "#btnSearch", function () {
                loadList();
            });
        });
        function loadList() {
            swalShowWait();            
            $.ajax({
                chache: false,
                async: false,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("SearchRequests", "Dashboard")",
                data: { "dtFrom": $("#dtFrom").val(), "dtTo": $("#dtTo").val()},
                success: function (data) {
                    $("#divData").html('');
                    $("#divData").html(data);
                    loadDataTable();
                    swalHideWait();
                }
            });
        }
        function DeleteRequest(id) {
            swal({
                title: "Confirm",
                text: "Are you sure? you want to delete this record?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function (isConfirm) {
                swalShowWait();
                if (isConfirm) {
                    $.ajax({
                        chahce: false,
                        async: false,
                        data: { id: id},
                        url: "@Url.Action("DeleteRequest", "Dashboard")",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.Success) {
                                swal({
                                    title: "Successful",
                                    text: data.Message,
                                    type: "success",
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                                loadList();
                            }
                        }
                    });
                }
            });
            return false;
        }
        
    </script>
}