﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Lumineyes</title>
    @*@Styles.Render("~/Content/bundlecss")*@
    <link href="~/Content1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content1/css/bootstrap-extend.css" rel="stylesheet" />
    <link href="~/Content1/css/master_style.css" rel="stylesheet" />
    <link href="~/Content1/css/custom.css" rel="stylesheet" />
    <link href="~/Content1/css/skin-orange.css" rel="stylesheet" />
    <link href="~/Content1/css/site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/font-awesome.css" rel="stylesheet" />
</head>
<body style="background-color:#d2d6de">
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>