/*---skin-orange---*/
.skin-purple-light .main-header .navbar {
  background-color: #0064a6;
}
.skin-purple-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-purple-light .main-header .navbar .nav > li > a:hover,
.skin-purple-light .main-header .navbar .nav > li > a:active,
.skin-purple-light .main-header .navbar .nav > li > a:focus,
.skin-purple-light .main-header .navbar .nav .open > a,
.skin-purple-light .main-header .navbar .nav .open > a:hover,
.skin-purple-light .main-header .navbar .nav .open > a:focus,
.skin-purple-light .main-header .navbar .nav > .active > a,
.skin-purple-light.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle:hover{
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-purple-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-purple-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-purple-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-purple-light .main-header .navbar .sidebar-toggle:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .skin-purple-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-purple-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-purple-light .main-header .navbar .dropdown-menu li a:hover {
    background: #664ce1;
  }
}
.skin-purple-light .main-header .logo {
  background-color:#232c3b;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.skin-purple-light .main-header li.user-header {
  background-color: #fff;
}
.skin-purple-light .content-header {
  background: #f2f6f8;
}
.skin-purple-light .content {
  background: #f2f6f8;
}
.skin-purple-light .wrapper,
.skin-purple-light .main-sidebar,
.skin-purple-light .left-side {
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-purple-light .user-panel > .info,
.skin-purple-light .user-panel > .info > a {
  color: #fff;
}

.skin-purple-light .sidebar-menu > li.header {
  color: #333;
  background: #fff;
}
.skin-purple-light .sidebar-menu > li > a {
  border-left:none;
}
.skin-purple-light .sidebar-menu > li:hover > a{
  color:#0064a6;
  background: rgba(0,0,0,0.1);
}
.skin-purple-light .sidebar-menu > li.active > a,
.skin-purple-light .sidebar-menu > li.menu-open > a {
  color: #0064a6;
}
.skin-purple-light .sidebar-menu > li.active > a {
  border-left-color: #ed7e33;
}
.skin-purple-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #f2f6f8;
}
.skin-purple-light .sidebar a {
  color: #9ea9b9;
}
.skin-purple-light .sidebar a:hover {
  text-decoration: none;
}
.skin-purple-light .sidebar-menu .treeview-menu > li > a {
  color: #9ea9b9;
}
.skin-purple-light .sidebar-menu .treeview-menu > li.active > a,
.skin-purple-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #ed7e33;
}
.skin-purple-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.skin-purple-light .sidebar-form input[type="text"],
.skin-purple-light .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.skin-purple-light .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-purple-light .sidebar-form input[type="text"]:focus,
.skin-purple-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.skin-purple-light .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-purple-light.layout-top-nav .main-header > .logo {
  background-color: #664ce1;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-purple-light.layout-top-nav .main-header > .logo:hover {
  background-color: #ed7e33;
}
.skin-purple-light .btn-blue{
	background-color: #ed7e33;
	color: #fff;
	border: 1px solid #ed7e33;
}
.skin-purple-light .btn-blue:hover{
	background-color: #fff;
	color: #ed7e33;	
}
.horizontal-menu .skin-purple-light.layout-top-nav .sidebar-menu > li.active > a {
    background: #ed7e33;
	color: #fff;
}
.skin-purple-light .main-header .messages-menu .dropdown-toggle i::after, .skin-purple-light .main-header .notifications-menu .dropdown-toggle i::after, .skin-purple-light .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ed7e33;	
}