
/*This css for edit admin pages*/
.main-header .logo{ text-align:center;}
.meter-bx .price{ font-size:30px; line-height: 0px;}
.meter-bx .price sup{ top:5px; font-size:18px;}
 
.list-new li{ padding:0px 10px;}
.ul-custom li{
 padding-right:10px;
}























































