﻿

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>My Lumineyes - @ViewBag.Title </title>

    <link href="~/Areas/SuperAdmin/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/SuperAdmin/Content/css/summernote-bs4.css" rel="stylesheet" />
    @Styles.Render("~/Content/SuperAdmin/bundlecss")
    <style>
        .input-validation-error {
            border:1px solid #ff0000;
        }
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
                padding: 6px;
                font-size: 13px
        }
        .content { padding-top:0px;
        }
        body {
            background:none!important;
        }
    </style>

</head>

<body class="hold-transition skin-purple-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            @Html.Partial("~/Areas/SuperAdmin/Views/Shared/_PartialHeader.cshtml")  <!-- Logo -->
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            @Html.Partial("~/Areas/SuperAdmin/Views/Shared/_Menu.cshtml")

            <!-- sidebar menu: : style can be found in sidebar.less -->


        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("~/Areas/SuperAdmin/Views/Shared/_PartialFooter.cshtml")



    </div>
    @RenderSection("scriptRequired", true)
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    function setActiveClass(sourceClass) {      
        $("." + sourceClass).addClass("active");
        $("." + sourceClass).parents(".treeview").addClass("menu-open");
        $("." + sourceClass).parents(".treeview-menu").show();
    }
    $(function () {
        $(".sidebar-toggle").on("click", function () {
            $('.logo-mini').toggle();
        });
        $(document).on("change", ".required", function () {
            if ($(this).val() != "")
            {
                removeErrorClass(this)
            }
        });
    });
    function addErrorClass(source) {
        $(source).addClass("input-validation-error");
    }
    function removeErrorClass(source) {
        $(source).removeClass("input-validation-error");
    }
    function loadDataTable() {
        $('#tbl').DataTable();
    }
    function swalShowWait() {
        swal({
            title: "Wait",
            text: "Please wait your request is processing...",
            showConfirmButton: false
        });
    }
    function swalHideWait() {
        swal({
            title: "Wait",
            text: "Please wait your request is processing...",
            showConfirmButton: false,
            timer: 1000
        })
    }
</script>