﻿<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
        <li class="user-profile treeview">
            <a href="javascript:void(0);">
                <img src="@Url.Content("~/Areas/SuperAdmin/Content/Images/mylumineyespng.png")" alt="My Lumineyes">
                <span>Admin</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("ChangePassword","DashBoard",new{area= "SuperAdmin" })">Change Password</a></li>
                <li><a href="@Url.Action("LogOff","DashBoard",new{area="SuperAdmin"})">Logout</a></li>
             
            </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="li-dashboard">
            <a href="@Url.Action("DashBoard", "DashBoard", new { area = "SuperAdmin" })">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
    </ul>
</section>
