﻿
<a href="javascript:void(0);" class="logo">

    <!-- mini logo for sidebar mini 50x50 pixels -->
    <b class="logo-mini" style="display:none">
        ML
    </b>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        My Lumineyes
    </span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


            @if (Request.IsAuthenticated)
            {
                var dt = DateTime.UtcNow.AddHours(5.5);

                <li class="dropdown user user-menu">
                    <a href="javascript:void(0);" style="font-size:13px;padding: 8px 15px; line-height: 23px;" class="dropdown-toggle">
                        Welcome,  Admin <br />

                   

                    </a>
                </li>

            }


        </ul>
    </div>
</nav>


